doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Sign Up
    link(rel="stylesheet", href="/styles.css") 
  body
    .container
      h1 Sign Up
      form#signup-form(action="/users/signup" method="post")
        .form-group
          label(for="username") Username:
          input(type="text" id="username" name="username" required)
        .form-group
          label(for="password") Password:
          input(type="password" id="password" name="password" required)
        span.error-msg 
          
        button(type="submit") Sign Up
      p Already have an account? #{loginLink}
    script(type='text/javascript' src='/script.js')
